input[type = "histX"] {
  max-width: 40%;
}
input[type = "histY"] {
  max-width: 40%;
}

/*background color*/
.content-wrapper,
.right-side {
  background-color: #ffffff;
}

.bg-primary {color: #944fe8!important;
}

/* Customize fonts */
body, label, input, button, select { 
    font-family: 'Gustan', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: #666666;
  }
  
body {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.contentBd {
  margin-right: 8px;
  margin-left: 8px;
}

h1 {
  font-weight: bold;
 /* color: #d53b2d;*/
} 
h3 {
  font-size: 25px;
  /* font-weight: bold; */
}
h4 { 
  font-weight: 400; 
}

.header {
  background-color: #d53b2d;
  height: 45px;
  font-weight: 200;
  color: #ffffff;
  text-align: center;
}

.header .title {
  margin-top: 10px;
}

.main-header .logo {
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 300;
  font-size: 24px;
  color: #944fe8;
  max-height: 200px;
}

/*image containers*/
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 2px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/*Links*/
p a:link {
    color: #d53b2d;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #a82317;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #db4c3f;
    background-color: transparent;
    text-decoration: underline;
}

.w3-container button{
    background-color: #d53b2d;
    border: #d53b2d;
}

.w3-container button:hover {
    background-color: #db4c3f;
    border: #d53b2d;
    border-width: 4px;
}

.w3-container button:focus {
    background-color: transparent;
    border: #d53b2d;
}


/* special map parts */
.leaflet .legend i{
            border: 1px solid #666;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            margin-top: 4px;
         }
         
.leaflet-control-layers-overlays label{
    font-size: 12px;
}

/* shiny labels override for explore your area */
#inlineLab .control-label{ 
  display: table-cell; 
  text-align: right; 
  vertical-align: middle; 
  padding-right: 15px;
} 
.form-group { 
  display: table-row;
}

